
<section id="contact-details-search" class="contact-details-show">
  <h1 class="title"><%= pluralize(@contacts.count, "Contacts") %></h1>
  <%= render 'search/form' %>

  <table class="table-search m-2">
    <thead>
      <tr>
        <th><%= sort_link(@query, :first_name, "First name", default_order: :asc) %></th>
        <th><%= sort_link(@query, :last_name, "Last name") %></th>
        <th><%= sort_link(@query, :email, "Email address") %></th>
      </tr>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <%# Work out why logic for this link breaks page %>
          <%# <td><%= link_to contact.first_name, contact ></td> %>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.email %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
