<%= form_with(model: contact, local: true) do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <p><%= form.label :first_name %></p>
    <p><%= form.text_field :first_name %></p>
  </div>

  <div class="field">
    <p><%= form.label :last_name %></p>
    <p><%= form.text_field :last_name %></p>
  </div>

  <div class="field">
    <p><%= form.label :email %></p>
    <p><%= form.text_field :email %></p>
  </div>

  <div class="field">
    <p><%= form.label :phone %></p>
    <p><%= form.text_field :phone %></p>
  </div>

  <div class="actions">
    <p><%= form.submit class:"button-form-add-contact field" %></p>
  </div>
<% end %>
