<p id="notice"><%= notice %></p>
<h1>This is the contacts dashboard page</h1>
<h1>Contacts</h1>

<%= render 'search/form' %>

<div class="columns">
  <%# <%= render 'search/form' %> 
  <%= render 'partials/contacts_table' %>
  <%= render partial: 'contacts/form', locals: { contact: @contact } %>
</div>
<%# <%= link_to 'New Contact', new_contact_path %>