<p id="notice"><%= notice %></p>

<section id="contact-details" class="contact-details-show d-flex">
  <div class="contact-details-content">
    <h1 class="">Contact details</h1>
    <p class="contact-name"><%= @contact.first_name %> <%= @contact.last_name %></p>
    <p><%= @contact.email %></p>
    <p><%= @contact.phone %></p>
    <div class="mt-5">
      <%= link_to 'View all contacts', contacts_path, class: 'button button--pink mt-1' %>
    </div>
  </div>
  <div class="update-contact">
    <h2>Update this contact</h2>
    <div class="contacts-form"><%= render partial: 'contacts/form', locals: { contact: @contact } %></div>
  </div>
</section>

<% 
=begin %>

<h1>This is the show page for each contact</h1>
<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact.phone %>
</p>

<%= render 'form', contact: @contact %>

<%# <%= link_to 'Edit', edit_contact_path(@contact) %>
<%= link_to 'Contacts page', contacts_path %>

<h1>Contact history</h1>

<%# <%= @contact.changes %>
<%# <%= @contact.previous_changes %>

<%# 0<% version.reify(options = {}) %>


<%
=end %>
<section id="contact-details-updates" class="contact-details-updates">
  <% if @contact.versions.count == 1 %>
    <h2>There have been no updates to this contact</h2>
  <% else %>
    <h2>There have been <u><%= @contact.versions.count %></u> updates to this contact</h2>
  <%# <%= @contact.paper_trail.previous_version.first_name  %>
  <%# <%= @contact.paper_trail.previous_version.last_name  %> 
  <%# <%= @contact.paper_trail.previous_version.phone  %> 
  <%# <%= @contact.paper_trail.previous_version.email  %> 
  <%# 4<%= @contact.paper_trail.next_version  %>
    <table class='table-updates'>
      <thead>
        <tr>
          <th>Current record status</th>
          <th>Previous version</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if @contact.first_name == @contact.paper_trail.previous_version.first_name %>
            <td><%= @contact.first_name  %></td>
            <td><%= @contact.paper_trail.previous_version.first_name  %></td>
          <% else %>
            <td><strong><%= @contact.first_name  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.first_name  %></td>
          <% end %>
        </tr>
        <tr>
          <% if @contact.last_name == @contact.paper_trail.previous_version.last_name %>
            <td><%= @contact.last_name  %></td>
            <td><%= @contact.paper_trail.previous_version.last_name  %></td>
          <% else %>
            <td><strong><%= @contact.last_name  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.last_name  %></td>
          <% end %>
        </tr>
        <tr>
          <% if @contact.phone == @contact.paper_trail.previous_version.phone %>
            <td><%= @contact.phone  %></td>
            <td><%= @contact.paper_trail.previous_version.phone  %></td>
          <% else %>
            <td><strong><%= @contact.phone  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.phone  %></td>
          <% end %>
        </tr>
        <tr>
          <% if @contact.email == @contact.paper_trail.previous_version.email %>
            <td><%= @contact.email  %></td>
            <td><%= @contact.paper_trail.previous_version.email  %></td>
          <% else %>
            <td><strong><%= @contact.email  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.email  %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</section>


<%# 
6 <% @contact.versions.each do |version| %>
<%# <% version.item_id %> 
<%# <% end %>



<%# 5<%= @contact.versions.last.changeset %>

<% 
=begin %>

<h2>Versions</h2>
<table class='table'>
  <thead>
    <tr>
      <th>ID</th>
      <%# <th>Modifier</th> %>
      <th>Action</th>
      <th>Changes</th>
    </tr>
  </thead>
  <tbody>
    <% @contact.versions.each do |version| %>
      <%= tag.tr do %>
        <%= tag.td version.id %>
        <%= tag.td version.whodunnit %>
        <%= tag.td link_to 'rollback', contact_rollback_path(@contact, version: version) %>
        <%= tag.td do %>
          <%= tag.ul class: 'list-group' do %>
            <li class='list-group-item'>
              <strong>First Name:</strong>

              <%# <%= version.changed_object.first_name %>  %>
            </li>
            <li class='list-group-item'>
              <strong>Last Name:</strong> 
              <%# <%= version.changed_object.last_name %> %>
            </li>
            <li class='list-group-item'>
              <strong>Email:</strong> 
              <%# <%= version.changed_object.email %> %>
            </li>
            <li class='list-group-item'>
              <strong>Phone:</strong> 
              <%# <%= version.changed_object.phone %> %>
            </li>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
</table>


<% @contact.versions.each do |version| %>
    <%= contact_from_version = version.reify %>
    <%# <%= contact_from_version.first_name %> 
<% end %>
<br>
<%# <%= @contact.activities.each do |activity| %> 
<%# is this working?
  
<%= @contact.activities %>

<% 
=end %>