<section id="contact-details" class="contact-details-show d-flex">
  <div class="contact-details-content">
    <p id="notice"><%= notice %></p>
    <h1 class="">Contact details</h1>
    <p class="contact-name"><%= @contact.first_name %> <%= @contact.last_name %></p>
    <p><%= @contact.email %></p>
    <p><%= @contact.phone %></p>
  </div>
  <div class="update-contact">
    <h2>Edit this contact</h2>
    <div class="contacts-form"><%= render partial: 'contacts/form', locals: { contact: @contact } %></div>
  </div>
</section>

<section id="contact-details-updates" class="contact-details-updates">
  <% if @contact.versions.count == 1 %>
    <h2>There have been no updates to this contact</h2>
  <% else %>
    <h2>There have been <u><%= @contact.versions.count %></u> updates to this contact</h2>
    <table class='table-updates'>
      <thead>
        <tr>
          <th>Current record version</th>
          <th>Previous record version</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% if @contact.first_name == @contact.paper_trail.previous_version.first_name %>
            <td><%= @contact.first_name  %></td>
            <td><%= @contact.paper_trail.previous_version.first_name  %></td>
          <% else %>
            <td><strong><%= @contact.first_name  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.first_name  %></td>
          <% end %>
        </tr>
        <tr>
          <% if @contact.last_name == @contact.paper_trail.previous_version.last_name %>
            <td><%= @contact.last_name  %></td>
            <td><%= @contact.paper_trail.previous_version.last_name  %></td>
          <% else %>
            <td><strong><%= @contact.last_name  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.last_name  %></td>
          <% end %>
        </tr>
        <tr>
          <% if @contact.phone == @contact.paper_trail.previous_version.phone %>
            <td><%= @contact.phone  %></td>
            <td><%= @contact.paper_trail.previous_version.phone  %></td>
          <% else %>
            <td><strong><%= @contact.phone  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.phone  %></td>
          <% end %>
        </tr>
        <tr>
          <% if @contact.email == @contact.paper_trail.previous_version.email %>
            <td><%= @contact.email  %></td>
            <td><%= @contact.paper_trail.previous_version.email  %></td>
          <% else %>
            <td><strong><%= @contact.email  %></strong></td>
            <td><%= @contact.paper_trail.previous_version.email  %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  <% end %>
</section>

<%# More info on getting complete set of changes to record %>
<%# driftingruby.com/episodes/auditing-with-paper-trail %>
<%# The following code gives and array of objects (record versions)??? Or one new object??? %>

<%# <% @contact.versions.each do |version| %>
  <%# <%= contact_from_version = version.reify %>
  <%# <%= contact_from_version.first_name %> 
<%# <% end %>
